name: Integration Tests

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: "15 3 * * *" # run nightly at 3:15am

jobs:
  build_and_test:
    name: Build and test the connector
    runs-on: ubuntu-22.04
    timeout-minutes: 75
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v3
        id: cache-deps
        with:
          key: fivetran-deps-${{ hashFiles('./Makefile') }}
          path: ./install

      - name: build the dependencies
        if: ${{ steps.cache-deps.outputs.cache-hit != 'true' }}
        env:
          CC: clang-15
          CXX: clang++-15
          CPP: clang-cpp-15
        run: |
          make build_openssl_native build_grpc build_test_dependencies

      - name: build the connector
        env:
          CC: clang-15
          CXX: clang++-15
          CPP: clang-cpp-15
        run: |
          make get_fivetran_protos
          make build_connector_debug

      - name: run tests
        env:
          motherduck_token: ${{ secrets.CI_TESTING_TOKEN }}
        run: ./build/Debug/integration_tests
