name: Integration Tests

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: "15 3 * * *" # run nightly at 3:15am

jobs:
  build_and_test:
    name: Build and test the connector
    runs-on: ubuntu-22.04
    timeout-minutes: 75
    steps:
      - uses: actions/checkout@v4

      - name: Install Clang-19
        run: |
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          sudo add-apt-repository "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-19 main"
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends clang-19

      - name: Install Ninja
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ninja-build

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        with:
          key: fivetran-deps-${{ hashFiles('./Makefile') }}
          path: ./install

      - name: Build dependencies
        if: ${{ steps.cache-deps.outputs.cache-hit != 'true' }}
        env:
          CC: clang-19
          CXX: clang++-19
        run: |
          make build_openssl_native build_grpc build_arrow build_test_dependencies

      - name: Build connector
        env:
          CC: clang-19
          CXX: clang++-19
          CMAKE_GENERATOR: Ninja
        run: |
          make get_fivetran_protos get_duckdb
          make build_connector_debug

      - name: Run tests
        env:
          motherduck_token: ${{ secrets.CI_TESTING_TOKEN }}
        run: |
          ASAN_OPTIONS=alloc_dealloc_mismatch=0:fast_unwind_on_malloc=0  LSAN_OPTIONS=suppressions=lsan-suppressions.supp  ./build/Debug/integration_tests
